@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khand:wght@300;400;500;600;700&family=Sarina&display=swap');

/* these are global */
.btn-pink-sm {
  border-radius: 45px;
  background: #ec4568 !important;
  width: 30vw;
}

.btn-pink-lg {
  width: 26vw;
  height: 6vh;
  left: 20px;
  top: 177px;
  background: #ec4568 !important;
  border-radius: 45px;
}
.btn-pink-md {
  width: 26vw;
  height: 10.5vh;
  left: 20px;
  top: 177px;
  background: #ec4568 !important;
  border-radius: 45px;
  border: 0px transparent;
}
