@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khand:wght@300;400;500;600;700&family=Sarina&display=swap');

.btn-pink-sm {
  border-radius: 45px;
  background: #ec4568 !important;
  width: 30vw;
}

.btn-pink-lg {
  width: 326px;
  height: 44px;
  left: 20px;
  top: 177px;
  background: #ec4568 !important;
  border-radius: 45px;
}

.HeroTitle {
  font-family: 'Khand';
  font-size: 7vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
}

.HeroImage {
  background-size: cover;
}

.InfoCard {
  font-family: 'Actor';
  font-weight: 400 !important;
  color: whitesmoke;
  text-shadow: 2px 2px 2px 0px #000000 !important;
  border-radius: 45px;
}

.btn-pink-sm {
  border-radius: 45px;
  background: #ec4568 !important;
  width: 30vw;
}
