.communitytitle {
  font-family: Khand;
  font-size: 7vw;
  text-align: center;
  color: #ec4568;
}

.communitytext {
  background: transparent !important;
  border: 0px transparent !important;
  color: #5d5d5d;
  font-family: Actor;
  font-size: 1.7vw;
  text-shadow: 0.5px 0.5px 0.5px #000000;
}
