.vector {
  position: absolute;
  left: 12.02%;
  right: 12.03%;
  top: 3.64%;
  bottom: 32.12%;
  /* background: linear-gradient(90deg, #D2D3D4 71.2%, #D2D3D4 100%); */

  height: 146.4688262939453px;
  width: 254.43040466308594px;
  left: 40.279541015625px;
  top: 8.294921875px;
  border-radius: 0px;
}

.confirmtitle {
  font-family: Khand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
  margin: 2rem;
}

.vector1 {
  padding: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropoff {
  width: 24.52vw;
  height: 10.33vh;
  left: 22px;
  background: #eae8e8;
  box-shadow: 0px 0px 4px #ec456a;
  border-radius: 4px;
}

.bikecard {
  width: 8.27vw;
  height: 18.83vh;
  left: 20px;
  top: 634px;
}

.awaitingtitle {
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 4vh;
  /* identical to box height, or 100% */

  text-align: center;

  color: #ec4568;
}

.datetime {
  display: flex;
  width: 100px;
}

.clockpic {
  width: 100px;
}

.repairtime {
  font-family: Karma;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 3vh;
  letter-spacing: 0px;
  text-align: center;
}

.estimate {
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 4vh;
  text-align: left;
}

.estimateline {
  position: absolute;
  width: 220px;
  height: 0px;
  /* left: 23px; */
  margin-top: 0;
  border: 0.5px solid #ec4568;
}

.estimate1 {
  font-family: Karma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 4vh;
  text-align: left;
}

.dropofftitle {
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}

.dropoffp {
  font-family: Karma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* .datetime1 {
  display: flex;
  justify-content: column;
  text-align: column;
} */

.DT {
  font-family: Karma;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}
