@import url('https://fonts.googleapis.com/css2?family=Actor&family=Khand:wght@300;400;500;600;700&family=Sarina&display=swap');

* {
  font-family: 'Actor';
}
.tn {
  height: 20vh;
  width: 7vw;
  margin-right: 5px;
  background: #c4c4c4;
  border-radius: 5px;
}

.logintitle {
  margin-left: 20px;
  font-family: 'Khand', sans-serif !important;
  font-size: 9.5vw;
  font-weight: 400;
}
.formlabel {
  font-family: 'Actor';
  font-weight: 400;
  font-size: 1.5vw;
}

.crank {
  width: 500px;
  height: 500px;
  margin-left: -150px;
}

.LoginNotice {
  margin-top: 300px;
  margin-left: 75px;
  font-family: 'Khand';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 98px;
}

.btn-Selection {
  background: transparent;
  border: none;
}
.btn-Selection:active,
.btn-Selection:hover,
.btn-Selection:focus {
  background: #ec4568 !important;
}
