.ownershopname {
  font-family: Khand;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.bikepic {
  width: 45%;
  height: 200px;
  overflow: hidden;
}

.button {
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: hotpink;
  border-color: hotpink;
}
