.Progress-Gear {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 165.63px;
  height: 35.24px;
  left: 105px;
  top: 102px;
}

.summary-title {
  left: 20px;
  top: 183px;
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  color: #5d5d5d;
}

.summary {
  height: 47px;
  left: 21px;
  top: 220px;
  font-family: Karma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.repair-list {
  width: 270px;
  height: 24px;
  left: 21px;
  top: 321px;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline;
  color: #000000;
}
.dropoff {
  left: 20px;
  top: 409px;
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #5d5d5d;
}

.location {
  left: 20px;
  top: 463px;
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #5d5d5d;
}

.instruction-header {
  left: 20px;
  top: 615px;
  font-family: Khand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #5d5d5d;
}

.instructions {
  left: 20px;
  top: 647px;
  font-family: Karma;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
